@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

:root {
    --primary: #0093D9;
    --secondary: #A8AFB9;
    --primary-dark: #0870A4;
    --secondary-dark: #007AB0;
    --off-white: #f8f8f8;
    --white: #ffffff
}

body {
    font-family: 'Lato', sans-serif;
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
    
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.primary-link {
    
   color: var(--primary);
   text-decoration: none;
   font-size: 1.1rem;
   padding: 0.5rem;
   border: solid 1px;
   border-radius: 15rem;
}

.secondary-link {
   
   color: var(--secondary);
   text-decoration: none;
   font-size: 1.1rem;
   padding: 0.5rem;
   border: 2px solid;
   border-radius: 5rem;
   
}


.nav {
    padding: 1rem 1rem 0rem 1rem;
    background-color: var(--off-white);
    top:0;
    position:sticky;
    
}

.nav .active {
    font-weight: bolder;
}

.nav .logo {
    font-weight: bolder;
    color: var(--primary-dark);
}

.nav li {
    display: inline-block;
    padding: 0.5rem;
}

.nav ul {
    text-align: right;
}

header {
    padding: 2rem 1rem 2rem 1rem;
}

header h1 {
    text-align: center;
    padding-top: 1rem;
    color: var(--secondary-dark);
}

header .hero {
    border-radius: 2rem;
    max-width: 300px;
    height: auto;
    margin: auto;
    display: block;
}

.tech {
    background-color: var(--off-white);
}


section {
    padding: 2rem 1rem 2rem 1rem;
}
#tech_1{
    float:left;
}
.tech_image{
    max-width: 300px;
    height: auto;
    margin: auto;
    float:right;
}
#tech_2{
    float:right;
}


/** footer **/

footer {
    width:600px;
    padding: 2rem 1rem ;
    margin-top: auto;
    background-color: var(--primary-dark);
    color: var(--white);
    
}

#footer_index{
    bottom:0;
    position:absolute;
}



footer a {
    color: var(--white)
}

footer li {
    list-style: none;
    padding: 0.6rem;;
}

.text-m {
    font-size: 1.2rem;
}

.social_list{
    display: inline-block;
}

/** Projects Page **/

.projects .date {
   margin-bottom: -0.7rem;
   font-size: 0.8rem;
   
}
