@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    width:100%;
    margin:auto;
    margin-top:auto;
    font-family: 'Roboto', sans-serif;

}

.nav{
    background:#6457A6;
    height:8vh;
    z-index:100;
    position: fixed;
    width:100%;
    
}
.name{
    display:flex;
    margin-left:8vh;
    padding-top:2vh;
    float:left;
    font-weight: bolder;
}
.name strong{
    color:#23F0C7;
    font-size:2vw;
}
.name span{
    color:white;
}
.nav-items{
    
    float:right;
    margin-right:5%;
    
}
.nav-items ul{
    list-style:none;
    
}
.nav-items ul li{
    padding: 1vh;
    display:inline;
    
       
}
.nav-items ul li a{
    text-decoration:none;
    color:white;
    font: size 2vw;
    
}

.menu-items:hover{
    color:yellow;
}


.quote-section{
    max-height:92vh;
    width:auto;
    position:relative;
    overflow: hidden;
    
}
.quote-imageone{
    
    display:flex;
    padding-left:4%;
    padding-top:9%;
    padding-bottom:9%;
    background-color: #7D7ABC;
    transform:skewY(-6deg);
    transform-origin: top left;
}
.quote-imageone img{
    transform:skewY(6deg);
    max-width:50%;
    height:auto;
}
.aboutme-section{
    background-color:white;
}
quote{
   padding-top:15%; 
   padding-left:4%; 
   font-size: 2vw;
   font-family:TimesNewRoman;
   font-weight:bold;
   color:#3F3D56;  
   transform:skewY(6deg);   
}
#aboutme-section{
    
    max-height:92vh;
    width:100%;
    margin-top:10%;
    margin-bottom:10%;
    display:flex;
    padding-top:10%;
    padding-bottom:10%;
}
.mypic{
    position:absolute;
    margin-right:1%;
}
.rectangle-left{
    padding:0%;
    margin:0%;
}

.mypic img{
    margin-left:-40%;
    width:100%;
}



    
.rectangle-right{
    padding-right:5%;
    padding-top: 4%;
    background-color:white;
    margin-left:50%;
    float:right;
    max-height:450px;
    
}
.rectangle-right p{
    
    font-size: 2vw;
    position: relative;
    
}
.rectangle-right h1{
    font-size:2.5vw;
}
.rectangle-right h1{
    color:#aa0505;
}

#project-section{
    width:100%;
    position:relative;
    height:auto;
    background-color:#23F0C7;
    padding-top: 7vh;
    padding-bottom: 7vh;
    
    
}
#project-section .heading{
    text-align: center;
}



.project{
    
    text-align: center;
    border-radius:25px;
    background-color:white;
    margin-left:10vh;
    margin-right:10vh;
    margin-bottom: 4vh;
    height:auto;
    width:auto;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.project-content{
    padding:2vh;
    
}
.project-content a{
    text-decoration:none;
    padding-left:4vh;
    padding-right:4vh;
    color:#EF767A;
    font-size: 2vh;
    
}
.link:hover{
    background-color:black;
    border-radius:2vh;
}


.display-pane .project:hover{
    filter:blur(0);
    transform:scale(1.1);
    opacity:1;
    transition:0.3s;
}
footer{
    position:relative;
    background:black;
    color:white;
    bottom:0;
    height:20vh;
    
}

footer p{
    text-align:center;
    opacity:0.5;
    padding-top:20px;
}

footer ul{
    list-style: none;
    text-align:center;
    padding:10px;
    
}
footer ul li{
    display:inline;
    padding:10px;
    opacity: 0.5;
    
}
footer ul li a{
    text-decoration: none;
    color:white;
}

.social-link:hover{
    opacity:1;
}